<!--
Scarlett Kim
1/10/20
Dating home page
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Eczar&display=swap" rel="stylesheet">
      <!-- Bootstrap & Pizza CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/style.css">

    <title>Cat Dating Site</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png"
          href="images/favicon.png">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Dating for Cats</a>
</nav>

<img src="images/cats.png"  alt="Cats" id = "cat" class="float-right rounded">
<div class="container mx-auto">
        <h1>Cat Dating Service</h1>
    <p>Are you a single cat looking for love? Welcome to the webs most successful dating website for cats.<br>
        At Cat Dating Services you'll meet other like minded cats. We have the highest success rate of cat couples on the internet.<br>
        Cat's are matched by interest and location of owner. Find out why thousands of cats have found love on this site!
    </p>
</div>


<div class="container mx-auto">
    <hr class="my-4">
    <h3>Helping cats find love since 1635.</h3>

<p class = quote>"mew meow mew mew meow  meow" -Patty</p>
    <p class = quote>"meow...  mew meow meowmew! meow mew meow meowmew meow meww!! meow meowmew meow mew meow meow ♡´･ᴗ･`♡" -Pete</p>
    <p class = quote>"mew meow mew meow meowmew  mew meow meow mew meow meoweow mew meow meowmew meeeow mew meowmew meow meow" -Whiskers</p>

    <hr class="my-4">
    <div class ="text-center">
    <a href ="http://skim.greenriverdev.com/328/dating/views/personal-info.html" id = "link" class = "ghost-button">Get Started</a>
</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="scripts/dating.js"></script>
</body>
</html>









