<include href="views/header.html" />
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Dating</a>
</nav>

<img src="images/couple.png"  alt="Cats" id = "couple-pic" class="float-right rounded">
<div class="container mx-auto">
        <h1>Dating Service</h1>
    <p>Are you single and looking for love? Welcome to the webs most successful dating website.<br>
       At Dating Services you'll meet other like minded individuals. We have the highest success rate of couples on the internet.<br>
        People are matched by interests and location. Find out why thousands of individuals have found love on this site!
    </p>
</div>


<div class="container mx-auto">
    <hr class="my-4">
    <div style="margin-left: 4em;">
    <h3>Helping people find love since 1635.</h3>
    <p class = quote>"I met my boyfriend of 4 years on this site" -Patty</p>
    <p class = quote>"wow I am so in love" -Pete</p>
    <p class = quote>"I met my wife on this site and we have been married for 20 years!" -Ben</p>
    </div>
    <hr class="my-4">
    <div class ="text-center">
    <a href ="personal-info" id = "link" class = "ghost-button">Get Started</a>
</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--<script src="scripts/dating.js"></script>-->
</body>
</html>









