<!--
Scarlett Kim
1/17/20
Dating interests page
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap & Pizza CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Eczar&display=swap" rel="stylesheet">
    <title>Cat Dating Site</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png"
          href="images/favicon.png">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="http://skim.greenriverdev.com/328/dating/">Dating for Cats</a>
</nav>
<div class="container mx-auto">
    <h1>Interests</h1>
    <hr class="my-4">
    <form id="profile" action="#" method="post">
        <div class="control-group">
            <p class="pull-left">In-door Interests</p>
                <repeat group="{{ @indoors }}" value="{{ @indoorsOption }}">
                    <div class = "interests">
                    <label><input type="checkbox"
                                  name="indoors[]"
                                  value="{{ @indoorsOption }}"
                                  class="checkbox-label"

                        <check if="{{ isset(@selectedIndoors) && in_array(@indoorsOption, @selectedIndoors) }}">
                            checked="checked"
                        </check>
                       > {{ @indoorsOption }}
                    </label><br>
                    </div>
                </repeat>

            <p class="pull-left">Out-door Interests</p>
            <repeat group="{{ @outdoors }}" value="{{ @outdoorsOption }}">
                <div class = "interests">
                <label><input type="checkbox"
                              name="outdoors[]"
                              value="{{ @outdoorsOption }}"
                              class="checkbox-label"
                    <check if="{{ isset(@selectedOutdoors) && in_array(@outdoorsOption, @selectedOutdoors) }}">
                        checked="checked"
                    </check>
                    > {{ @outdoorsOption }}
                </label><br>
                </div>
            </repeat>
        </div>
        <br>

        <div class ="text-center">
            <input type= "submit" id = "link" class = "ghost-button center-block" value="Next" >
        </div>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--<script src="scripts/dating.js"></script>-->
</body>
</html>









