<!--
Scarlett Kim
1/10/20
Dating home page
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap & Pizza CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Eczar&display=swap" rel="stylesheet">
    <title>Cat Dating Site</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png"
          href="images/favicon.png">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="http://skim.greenriverdev.com/328/dating/">Dating for Cats</a>
</nav>
<div class="container mx-auto">
    <h1>Interests</h1>
    <hr class="my-4">
    <form id="profile" action="summary" method="post">
        <div class="control-group">
            <p class="pull-left">In-door Interests</p>
            <div class="controls span2">
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Eating">Eating
                </label>
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Napping"> Napping
                </label>
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Scratching the couch"> Scratching the couch
                </label>
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]" value="Playing with yarn"> Playing with yarn
                </label>
            </div>
            <div class="controls span2">
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Crying"> Crying
                </label>
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Stepping on owner's face">Stepping on owner's face
                </label>
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Loud Meowing"> Loud Meowing
                </label>
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Sunbathing"> Sunbathing
                </label>
            </div>
        </div>
<br>
<!--        CHANGE IDS        -->
        <div class="control-group">
            <p class="pull-left">Outdoor Interests</p>
            <div class="controls span2">
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]" value="Scratching Tree">Scratching Tree
                </label>
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Sprinting around"> Sprinting around
                </label>
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Playing with Dog"> Playing with Dog
                </label>
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Rolling in grass"> Rolling in grass
                </label>
            </div>
            <div class="controls span2">
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Car rides"> Car rides
                </label>
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Football"> Football
                </label>
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Chasing butterflies">Chasing butterflies
                </label>
                <label class="checkbox">
                    <input type="checkbox" name = "interests[]"  value="Partying"> Partying
                </label>
                <br><br>
            </div>
        </div>
        <div class ="text-center">
            <input type= "submit" id = "link" class = "ghost-button center-block" value="Next" >
        </div>
    </form>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--<script src="scripts/dating.js"></script>-->
</body>
</html>









