<include href="views/header.html" />
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="http://skim.greenriverdev.com/328/dating/">Dating</a>
</nav>
<div class="container mx-auto">
    <form id="personal-info" action="#" method="post">
        <div class="form-group">
<h1>Personal Information</h1>
            <hr class="my-4">
        <!--        change to label for -->
        <label>First Name:*</label>
        <input type = "text"  class="form-control col-sm-7" name="firstname" id = "firstname" value = "{{ @firstname }}">
            <check if="{{ @errors['firstname'] }}">
                <span class="err">{{ @errors['firstname'] }}</span>
            </check>
            <br>
                <div class="card col-sm-4" id = "cardbody" style="width: 18rem; float: right">
                    <div class="card-body">
                        <h5 class="card-title"><b>Note:</b></h5>
                        <p class="card-text">All information entered is protected by our privacy policy. Profile information can only be viewed by others with you permission.</p>
                    </div>
                </div>

        <label>Last Name:*</label>
        <input type = "text"  class="form-control col-sm-7" name="lastname" id = "lastname" value = "{{ @lastname }}">
            <check if="{{ @errors['lastname'] }}">
                <span class="err">{{ @errors['lastname'] }}</span>
            </check>

        <br>
            <label>Age:*</label>
            <input type = "text"  class="form-control col-sm-7" name="age" id = "age" value = "{{ @age }}" >

            <check if="{{ @errors['age'] }}">
                <span class="err">{{ @errors['age'] }}</span>
            </check>
         <br>
                <label>Gender:* &nbsp;&nbsp; </label>
                <repeat group="{{ @genders }}" value="{{ @genderOption }}">
                    <label>&nbsp;&nbsp;&nbsp;<input type="radio" class="form-check-input"
                                  name="gender"
                                  value="{{ @genderOption }}"
                        <check if = "{{@gender== @genderOption}}"> checked="checked"</check>
                        >{{ ucfirst(@genderOption) }}
                    </label>&nbsp;&nbsp;
                </repeat>
            <br>
            <check if="{{ @errors['gender'] }}">
                <span class="err">{{ @errors['gender'] }}</span>
            </check>
            <br>
            <label>Phone Number:*</label>
            <input type = "text"  class="form-control col-sm-7" name="phone" id = "phone" value = "{{ @phone }}">

            <check if="{{ @errors['phone'] }}">
                <span class="err">{{ @errors['phone'] }}</span>
            </check>
            <br>
            <p>Premium Membership</p>
            <input type = "checkbox" id = "premium" name="premium"><label>Sign me up for a premium account!</label>

            <div class ="text-center">
        <input type="submit" id = "link" class = "ghost-button center-block" value="Next" >
            </div>
        </div>
    </form>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="scripts/dating.js"></script>
</body>
</html>









