<!--
Scarlett Kim
1/10/20
Dating home page
-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap & Pizza CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Eczar&display=swap" rel="stylesheet">
     <title>Cat Dating Site</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png"
          href="images/favicon.png">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="http://skim.greenriverdev.com/328/dating/">Dating for Cats</a>
</nav>
<div class="container mx-auto">
    <form id="cupcake-form" action="" method="post">
        <div class="form-group">
<h1>Personal Information</h1>
            <hr class="my-4">
        <!--        change to label for -->
        <label>First Name:*</label>
        <input type = "text"  class="form-control col-sm-7" name="f-name" id = "f-name">
        <br>
        <span class="err" id="err-fname">Required field</span>
                <div class="card col-sm-4" id = "cardbody" style="width: 18rem; float: right">
                    <div class="card-body">
                        <h5 class="card-title"><b>Note:</b></h5>
<!--                        <h6 class="card-subtitle mb-2 text-muted">Note:</h6>-->
                        <p class="card-text">All information entered is protected by our privacy policy. Profile information can only be viewed by others with you permission.</p>
                    </div>
                </div>

        <label>Last Name:*</label>
        <input type = "text"  class="form-control col-sm-7" name="l-name" id = "l-name">
                <span class="err" id="err-lname">Required field</span>

<br>
            <label>Age:*</label>

            <input type = "text"  class="form-control col-sm-7" name="age" id = "age">

            <br>
            <span class="err" id="err-age">Required field</span>
<label>Gender: &nbsp;</label>
            <label class="radio-inline">
                <input type="radio" name="optradio" checked>Female &nbsp;
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Male &nbsp;
            </label>
            <br>
            <br>
            <label>Phone Number:*</label>
            <input type = "text"  class="form-control col-sm-7" name="phone" id = "phone">
            <br>
            <span class="err" id="err-phone">Required field</span>
            <br>
        <span class="err" id="err-flavor">Please select an option</span>
            <div class ="text-center">
        <a href ="#" id = "link" class = "ghost-button center-block" >Get Started</a>
            </div>
        </div>
    </form>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="scripts/dating.js"></script>
</body>
</html>









