<include href="views/header.html" />
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="http://skim.greenriverdev.com/328/dating/">Dating</a>
</nav>
<div class="container mx-auto">
    <h1>Summary</h1>
    <hr class="my-4">
    <div style=" float: right">
        <div id = "cardbody" style="width: 40rem; float: right">
            <div class="card-body">
                <h5 class="card-title"><b>Biography:</b></h5>
                <p class="card-text">{{ @SESSION['member']->getBio() }} </p>
            </div>
        </div>
    </div>
    <check if="{{ @SESSION.profileImage }}">
        <true><img src="{{ @SESSION.profileImage }}" class = "profile-pic" alt="uploaded profile pic"></true>
        <false> <img src = "images/default-profile.png" class = "profile-pic" alt="default profile pic"></false>
    </check>

<p>Name: {{  @SESSION['member']->getFName() }} {{ @SESSION['member']->getLName() }} </p>

    <p>Gender: {{ @SESSION['member']->getGender() }}</p>
    <p>Age: {{ @SESSION['member']->getAge() }}</p>
    <p>Phone: {{ @SESSION['member']->getPhone() }}</p>
    <p>Email: {{ @SESSION['member']->getEmail() }}</p>
    <p>State: {{ @SESSION['member']->getState() }}</p>
    <p>Seeking: {{ @SESSION['member']->getSeeking() }}</p>
    <check if="{{ @SESSION['member'] instanceof PremiumMember }}">
        <true>
            <p>Indoor interests: {{ @SESSION['member']->getIndoors() }} </p>
            <p>Outdoor interests: {{ @SESSION['member']->getOutdoors() }}</p>
        </true>
    </check>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--<script src="scripts/dating.js"></script>-->
</body>
</html>









